[user]
	name = James
	email = jagleeso@gmail.com
[core]
	excludesfile = ~/.gitignore
	fileMode = false
	# https://stackoverflow.com/a/33424884
	#
	# eol = lf
	#   When we checkout, use lf / whatever is in the repo.
	# autocrlf = input
	#   When we checkin, force any CRLF to LF.
	autocrlf = input
	eol = lf
[diff]
    tool = vimdiff
[difftool]
    prompt = false
    # Be able to abort all diffs with `:cq` or `:cquit`
    #
    # https://stackoverflow.com/questions/34060557/git-and-vimdiff-close-all-files-at-once
    trustExitCode = true
[alias]
    d = difftool
    st = status
    co = checkout
    l = log --name-status
    b = branch -v
[color]
	ui = auto
[push]
    # default = simple
	default = matching
